<%- include ../../../../views/partials/header %>
<% include ../../overview/overview_partials/header %>

<div class="container">
  <br />
    <h2>Add Member</h2>
    <br />
    <form action="" method="POST">        
         <!--       Members        -->
         <div class="form-group row">
            <label class="col-sm-1 col-form-label">Members</label>
            <div class="col-sm-6">
                <select class="custom-select d-block w-100" id="userid" name="userid">
                  <% data.forEach((item, index) =>{ %>
                      <option value="<%= item.userid %>"><%= item.fullname %></option>
                      
                 <% }) %>
                   
                  </select>
            </div>
        </div>    
         
        <!--       Position        -->
        <div class="form-group row">
            <label for="string" class="col-sm-2 col-form-label">Position</label>
            <div class="col-sm-6">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="position" id="role" value="Manager" checked>
                  <label class="form-check-label" for="manager">
                    Manager
                  </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="position" id="role" value="Software Developer" checked>
                    <label class="form-check-label" for="softwareDeveloper">
                      Software Developer
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="position" id="role" value="Quality Assurance" checked>
                    <label class="form-check-label" for="qualityAssurance">
                      Quality Assurance
                    </label>
                  </div>
            </div>            
        </div>       
      
            <div class="form-group row">   
                <div class="col-sm-10">    
                <button type="submit" class="btn btn-default btn-success">Save</button>
                <a  href="/projects/members/<%= projectid%>" class="btn btn-warning">Cancel</a>
            </div>     
           </div> 

    
           <%- include ../../../../views/partials/footer %>
           <% include ../../overview/overview_partials/footer %>