<% include ../../../../views/partials/header %>
<% include ../../overview/overview_partials/header %>

<div class="container">
  <br />
  <h1 class="h2"> Members on: #<%= data[0].projectid %> <%= data[0].name %> </h1>
  
  
      <hr>
      <h2>Filters</h2>
      <br />
      <form action="" method="GET">
        <input type="hidden" name = "page" value="1">
        <!--       id        -->
        <div class="container col-sm-10">
            <div class="form-group row">         
              <label for="id" class="col-sm-2 col-form-label"><input type="checkbox" name="ckid" name="ckid" <%= query.ckid ? ' checked': '' %> >ID</label>
              <div class="col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  id="id"
                  placeholder="id"
                  name="memberid"
                  value="<%= query.memberid %>"
                />
              </div>
            </div>
            <!--       name        -->
            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label"><input type="checkbox" name="ckname"  <%= query.ckname ? ' checked': '' %> >Name</label>
              <div class="col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="name"
                  name="name"
                  value="<%= query.name %>"
                />
              </div>
            </div>
                <!--       Position        -->
            <!-------Menampilkan box Position -------->
        <div class="form-group row">
          <div class="col-sm-2">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="ckposition" <%= query.ckposition ? ' checked': '' %>/>Member
              </div>
          </div>
          <div class="col-sm-5">
            
            <div class="form-group">                    
              <select class="custom-select my-1 mr-sm-2" id="member" name="position">
                <option>Choose the Position</option>
                <option value="Manager">Manager</option>
                <option value="Programmer">Programmer</option>
                <option value="Quality Assurance">Quality Assurance</option>
            </select>
              </div>
            </div>
        </div>
    
            <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" name="button" class="btn btn-primary">Search</button>
                  <a href="/projects/members/<%=projectid %>" class="btn btn-warning">Reset</a>
                </div>
            </div>
        </div>
      </form>
      <h2><i class="fas fa-columns"></i> Options</h2>
      <form action="/projects/optionmember/<%=projectid %>" method="POST">
          <div class="form-group row">
              <div class="col-sm-2">Column</div>
              <div class="col-sm-3">
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="customCheck1" name="idChecked" value="true" <%= option.idChecked== "true" ? ' checked': '' %>/>
                      <label class="form-check-label" for="customCheck1">
                          ID
                      </label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="customCheck2" name="nameChecked" value="true" <%= option.nameChecked== "true" ? ' checked': '' %>/>
                      <label class="form-check-label" for="customCheck2">
                          Name
                      </label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="customCheck3" name="positionChecked" value="true" <%= option.positionChecked== "true" ? ' checked': '' %>/>
                      <label class="form-check-label" for="customCheck3">
                          Members
                      </label>
                  </div>
              </div>
          </div>
          <button type="submit" class="btn btn-primary"><i class="fas fa-check-circle"></i> Apply</button>
      </form>
      <br />

        <table class="table table-striped">
            <thead>
              <tr>
                <% if( option.idChecked == "true") { %> <th scope="col">ID</th> <%}%>
                <% if( option.nameChecked == "true" ) { %><th scope="col">Nama</th><%}%>
                <% if( option.positionChecked == "true" ) { %><th scope="col">Position</th><%}%>
                <% if(user.isadmin) {%>
                  <th scope="col">Action</th>
                  <%}%>
            </tr>  
            </thead>
            <tbody>
              <% data.forEach((item, index) =>{ %>
                <tr>
                 <% if(option.idChecked){%> <td><%= item.id %></td><%}%>
                 <% if(option.nameChecked){%> <td><%= item.fullname %></td><%}%>
                 <% if(option.positionChecked){%> <td><%= item.role %></td><%}%>
                 <% if(user.isadmin){%>

                  <td>
                 <a class="btn btn-success edit" href="/projects/members/<%= item.projectid %>/<%=item.id%>/edit">Edit</a>                       
 <a class="btn btn-danger delete" onclick="return confirm('Are you sure you want to delete this item?');" href="/projects/members/<%= item.projectid %>/<%=item.id%>/delete">Delete</a>    
               </td>
                 <% } %>
                </tr>

              <% }) %>
              </tbody>
          </table>

          <!--PAGINATION-->
         <br />
         <nav aria-label="Page navigation example" style="margin-top:1%">
            <ul class="pagination" class="pagination justify-content-center">
                <li class="page-item <%= page == 1 ? 'disabled' : ''%>"><a class="page-link"
                        href="/projects<%= url.replace(`page=${parseInt(page)}`, `page=${parseInt(page) - 1}`) %>">Previous</a>
                </li>
                <% for(let i = 1; i <= pages; i++){ %>
                <li class="page-item <%= page == i ? 'active' : '' %>"><a class="page-link"
                        href="/projects<%= url.replace(`page=${page}`, `page=${i}`) %>"><%= i %></a></li>
                <% } %>
                <li class="page-item <%= page == pages ? 'disabled' : ''%>"><a class="page-link"
                        href="/projects<%= url.replace(`page=${parseInt(page)}`, `page=${parseInt(page) + 1}`) %>">Next</a>
                </li>
            </ul>
        </nav>


         
      
        <br />

        <div class="form-group row">
          <a href="/projects/members/<%= data[0].projectid%>/add"
            ><button type="button" class="btn btn-primary">add</button></a
          >
        </div>
    </div>

    <%- include ../../../../views/partials/footer %>
    <% include ../../overview/overview_partials/footer %>


