<% include ../partials/header %>
<div class="container">
  <h1>Projects</h1>
  
      <hr>
      <h2>Filters</h2>
      <br />
      <form action="" method="GET">
        <input type="hidden" name = "page" value="1">
        <!--       id        -->
        <div class="container col-sm-10">
            <div class="form-group row">         
              <label for="id" class="col-sm-2 col-form-label"><input type="checkbox" name="ckid" <%= query.ckid ? ' checked ': '' %> >ID</label>
              <div class="col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  id="id"
                  placeholder="id"
                  name="id"
                  value="<%= query.id%>"
                />
              </div>
            </div>
            <!--       name        -->
            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label"><input type="checkbox" name="ckname" <%= query.ckname ? ' checked ': '' %>>Name</label>
              <div class="col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="name"
                  name="name"
                  value="<%= query.name %>"
                />
              </div>
            </div>
            <!--       member        -->
            <!-------Menampilkan box Member -------->
        <div class="row">
          <div class="col-sm-2">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="ckmember" <%= query.ckmember ? ' checked': '' %>/>Member
              </div>
          </div>
          <div class="col-sm-5">
            
            <div class="form-group">                    
              <select class="form-control" name="member">
                <option value="">Choose the member..</option>
                <%for (let i =0; i < users.length; i++) { %>
                  <option value="<%=users[i].userid %> "><%= users[i].firstname%> <%= users[i].lastname%></option>  
                  <% };%>                  
                  </select>
              </div>
            </div>
        </div>
    
            <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" name="button" class="btn btn-primary">Search</button>
                  <a href="/projects" class="btn btn-warning">Reset</a>
                </div>
            </div>
        </div>
      </form>
      <h2><i class="fas fa-columns"></i> Options</h2>
      <form action="/projects/update" method="POST">
          <div class="form-group row">
              <div class="col-sm-2">Columns</div>
              <div class="col-sm-3">
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                      <input class="form-check-input" type="checkbox" id="idcolumn" name="projectid" value="true" <%= option.projectid ? 'checked': ''%>/>
                      <label class="form-check-label" for="projectid">
                          ID
                      </label>
                  </div>
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                      <input class="form-check-input" type="checkbox" id="namecolumn" name="name" value="true" <%= option.name ? 'checked' : '' %>/>
                      <label class="form-check-label" for="name">
                          Name
                      </label>
                  </div>
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                      <input class="form-check-input" type="checkbox" id="membercolumn" name="members"  value="true" <%= option.members ? ' checked': ''%>/>
                      <label class="form-check-label" for="member">
                          Members
                      </label>
                  </div>
              </div>
          </div>
          <button type="submit" class="btn btn-primary"><i class="fas fa-check-circle"></i> Apply</button>
      </form>
      <br />

        <table class="table table-striped">
            <thead>
              <tr>
                <%- option.projectid ? `<th>ID</th>` : `` %>
                <%- option.name ? `<th>Name</th>` : `` %>
                <%- option.members ? `<th>Members</th>` : `` %>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
            
              <% for(const item of data)  { %>
                <tr>
                  <%- option.projectid ? `<td><a href="/projects/overview/`+ item.projectid +`" class="btn btn-outline-secondary">`+item.projectid + `</a></td>` : `` %>
                 <%- option.name ? `<td>`+item.name + `</td>` : `` %>
                 <%- option.members ? `<td>`+item.members + `</td>` : `` %>
                  <td>
                    <a class="btn btn-success edit"  href="/projects/edit/<%=item.projectid%>"">Edit</a>                       
    <a class="btn btn-danger delete" onclick="return confirm('Are you sure you want to delete this item?');" href="/projects/delete/<%= item.projectid %>">Delete</a>    
                  </td>
                  
                 
                </tr>

                <% } %>
            
            </tbody>
          </table>

           <!--PAGINATION-->
         <br />
         <nav aria-label="Page navigation example" style="margin-top:1%">
            <ul class="pagination" class="pagination justify-content-center">
                <li class="page-item <%= page == 1 ? 'disabled' : ''%>"><a class="page-link"
                        href="/projects<%= url.replace(`page=${parseInt(page)}`, `page=${parseInt(page) - 1}`) %>">Previous</a>
                </li>
                <% for(let i = 1; i <= pages; i++){ %>
                <li class="page-item <%= page == i ? 'active' : '' %>"><a class="page-link"
                        href="/projects<%= url.replace(`page=${page}`, `page=${i}`) %>"><%= i %></a></li>
                <% } %>
                <li class="page-item <%= page == pages ? 'disabled' : ''%>"><a class="page-link"
                        href="/projects<%= url.replace(`page=${parseInt(page)}`, `page=${parseInt(page) + 1}`) %>">Next</a>
                </li>
            </ul>
        </nav>


         
      
        <br />

        <div class="form-group row">
          <a href="/projects/add"
            ><button type="button" class="btn btn-primary">add</button></a
          >
        </div>
    </div>

    <% include ../partials/footer %>

