<% include ../../../../views/partials/header %>


<div class="container">
    <br />
      <h2>Add Issues to Project</h2>
      <br />
      <!-- <form action="/projects/issues/<%=/* data[0].projectid */%>/add" method="POST" encType="multipart/form-data">      -->
        <form action="" method="POST" encType="multipart/form-data">     
           
           
          <!--       Tracker        -->
          <div class="form-group row">
              <label for="string" class="col-sm-2 col-form-label">Tracker</label>
              <div class="col-sm-6">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="tracker" id="bug" value="bug"<%= data.tracker == 'bug' ? 'checked' : '' %> >
                    <label class="form-check-label" for="bug">
                      Bug
                    </label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="tracker" id="feature" value="feature"<%= data.tracker == 'feature' ? 'checked' : '' %> >
                      <label class="form-check-label" for="feature">
                        Feature
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="tracker" id="support" value="support"<%= data.tracker == 'support' ? 'checked' : '' %> >
                      <label class="form-check-label" for="support">
                        Support
                      </label>
                    </div>
              </div>            
          </div> 

          <!--Subject-->
          <div class="form-group row">
            <label for="string" class="col-sm-2 col-form-label">Subject</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="subject"  name="subject" value="<%= data.subject %>" required>
            </div>
          </div>

          <!--Description-->
          <div class="form-group row">
            <label for="string" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-6">
                <textarea   class="form-control" id="description" name="description" placeholder="Description" rows="3" required> <%= data.description %></textarea required>
            </div>
          </div>
          
          <!--       Tracker        -->
          <div class="form-group row">
            <label for="string" class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-6">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="status" id="status" value="new" <%= data.status == 'new' ? 'checked' : '' %>>
                  <label class="form-check-label" for="new">
                    New
                  </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="status" id="inprogress" value="inprogress" <%= data.status == 'inprogress' ? 'checked' : '' %> >
                    <label class="form-check-label" for="inprogress">
                      In Progress
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="status" id="feedback" value="feedback"<%= data.status == 'feedback' ? 'checked' : '' %>>
                    <label class="form-check-label" for="feedback">
                      Feedback
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="status" id="resolved" value="resolved" <%= data.status == 'resolved' ? 'checked' : '' %>>
                    <label class="form-check-label" for="resolved">
                      Resolved
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="status" id="closed" value="closed" <%= data.status == 'closed' ? 'checked' : '' %>>
                    <label class="form-check-label" for="closed">
                      Closed
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="status" id="rejected" value="rejected" <%= data.status == 'rejected' ? 'checked' : '' %>>
                    <label class="form-check-label" for="rejected">
                      Rejected
                    </label>
                  </div>
            </div>            
        </div> 
        <!-- Priority -->
        <div class="form-group row">
          <label for="string" class="col-sm-2 col-form-label">Priority</label>
          <div class="col-sm-6">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="priority" id="normal" value="Normal"<%= data.priority == 'Normal' ? 'checked' : '' %> >
                <label class="form-check-label" for="normal">
                  Normal
                </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="priority" id="high" value="high"<%= data.priority == 'high' ? 'checked' : '' %> >
                  <label class="form-check-label" for="high">
                    High
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="priority" id="urgent" value="urgent"<%= data.priority == 'urgent' ? 'checked' : '' %> >
                  <label class="form-check-label" for="urgent">
                    Urgent
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="priority" id="immediate" value="immediate"<%= data.priority == 'immediate' ? 'checked' : '' %> >
                  <label class="form-check-label" for="immediate">
                    Immediate
                  </label>
                </div>                
          </div>            
      </div>
        <!-- assignee -->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">assigneee</label>
          <div class="col-sm-6">
              <select class="custom-select d-block w-100" id="assignee" name="assignee">
                <% users.forEach((users, index) =>{ %>
                  <option value="<%= users.userid %>" <%= users.userid = data.userid ? 'selected' : '' %>> <%= users.fullname %> </option>
                <% }) %>                     
                </select>
          </div>
      </div>    
      
      <!--Start Date-->
          <div class="form-group row">
            <label for="string" class="col-sm-2 col-form-label">Start Date</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" name="startdate" value="<%= moment( data.startdate ).format('YYYY-MM-DD') %>">
            </div>
          </div>
          <!--End Date-->
          <div class="form-group row">
            <label for="string" class="col-sm-2 col-form-label">Due Date</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" name="duedate" value="<%= moment( data.duedate ).format('YYYY-MM-DD') %>" >
            </div>
          </div>
          <!--Estimated Time-->
          <div class="form-group row">
            <label for="string" class="col-sm-2 col-form-label">Estimated Time</label>
            <div class="col-sm-6">
                <input type="number" class="form-control"   name="estimatedtime" value="<%= data.estimatedtime %>" required>
            </div>
          </div>
          <!-- Done (%) -->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Done(%)</label>
          <div class="col-sm-6">
              <select class="custom-select d-block w-100" name="done">
                
                  <option <%= data.done == 0 ? 'selected' : '' %>> 0 </option value="0"> 
                  <option <%= data.done == 10 ? 'selected' : '' %>> 10 </option value="10"> 
                  <option <%= data.done == 20 ? 'selected' : '' %>> 20 </option value="20"> 
                  <option <%= data.done == 30 ? 'selected' : '' %>> 30 </option value="30"> 
                  <option <%= data.done == 40 ? 'selected' : '' %>> 40 </option value="40"> 
                  <option <%= data.done == 50 ? 'selected' : '' %>> 50 </option value="50"> 
                  <option <%= data.done == 60 ? 'selected' : '' %>> 60 </option value="60"> 
                  <option <%= data.done == 70 ? 'selected' : '' %>> 70 </option value="70"> 
                  <option <%= data.done == 80 ? 'selected' : '' %>> 80 </option value="80"> 
                  <option <%= data.done == 90 ? 'selected' : '' %>> 90 </option value="90"> 
                  <option <%= data.done == 100 ? 'selected' : '' %>> 100 </option value="100"> 
                
              
                </select>
          </div>
      </div>   
      <!-- File --> 
      <div class="form-group row">
            <label for="string" class="col-sm-2 col-form-label">File</label>
            <div class="col-sm-6">
              <input type="hidden" name="filename" value="<%= data.files %>"/>
                <input type="file" class="form-control"  name="doc" value="<%=data.files %>" required>
                <label for="sampleFile" class="file-label" ><%= data.files %></label>
            </div>
            <a href="/images/<%= data.files %>" class="btn"> <i class="fa fa-download fa-2x"></i> </a>
          </div>

          <!-- SPENT Time-- --> 
      <div class="form-group row">
            <label for="string" class="col-sm-2 col-form-label">Spent Time (Hours)</label>
            <div class="col-sm-6">
                <input type="number" class="form-control"  name="spenttime" id="spenttime" value="<%= data.spenttime %>" required>
            </div>
          </div>

          <!-- Target Version--> 
      <div class="form-group row">
            <label for="string" class="col-sm-2 col-form-label">Target Version</label>
            <div class="col-sm-6">
                <input type="text" class="form-control"  name="targetversion" value="<%= data.targetversion %>" required>
            </div>
          </div>

          <!-- Author--> 
      <div class="form-group row">
            <label for="string" class="col-sm-2 col-form-label">Author</label>
            <div class="col-sm-6">
                <input type="text" class="form-control"  name="author" value="<%= data.author %>" readonly>
            </div>
          </div>
          <!--Created Date-->
          <div class="form-group row">
            <label for="string" class="col-sm-2 col-form-label">Created Date</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" name="createddate" value="<%= moment( data.createddate ).format('YYYY-MM-DD') %>" >
            </div>
          </div>
          <!--Update Date-->
          <div class="form-group row">
            <label for="string" class="col-sm-2 col-form-label">Update Date</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" name="updatedate" value="<%= moment( data.updatedate ).format('YYYY-MM-DD') %>" >
            </div>
          </div>

          <!--Closed Date-->
          <div class="form-group row">
            <label for="string" class="col-sm-2 col-form-label">Closed Date</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" name="closeddate" value="<%= moment( data.closeddate ).format('YYYY-MM-DD') %>" >
            </div>
          </div>

          <!--Parenttask-->
          <div class="form-group row">
            <label for="string" class="col-sm-2 col-form-label">Parent Task</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="parenttask" value="<%=  data.issueid %>" required>
            </div>
          </div>


              <div class="form-group row">   
                  <div class="col-sm-10">    
                  <button type="submit" class="btn btn-default btn-success">Update</button>
                  <a href="/projects/issues/<%= data.projectid %>" class="btn btn-warning">Cancel</a>
                  
              </div>     
             </div> 
  


<%- include ../../../../views/partials/footer %> 